.mycard {
    /* Add shadows to create the "card" effect */
    box-shadow: 10 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.mycard:hover {
    box-shadow: 10 8px 16px 0 rgba(0,0,0,0.2);
}

.floater-x{
    position: absolute;
    top:2px;
    right:2px;
}